[Desktop Entry]
Name=Workrave Applet
Name[pl]=Applet Workrave
Comment=Displays timers of Workrave
Comment[pl]=Wyświetla czasomierze Workrave
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Łukasz Wojniłowicz
X-KDE-PluginInfo-Email=lukasz.wojnilowicz@gmail.com
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=org.kde.workraveApplet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/wojnilowicz/workrave-applet
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Utilities
Icon=/workrave-sheep.svg
